
.addbtn {
  font-size: 15px;
  padding: 10px 25px;
  margin: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  background-color: #00796b;
  color: rgb(255, 2, 2);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.addbtn:hover {
  background-color: #004d40; 
}

.addicon {
  margin-left: 10px;
  font-size: 14px;
}

.mealtimes {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
  padding: 20px;
}

.mealtimes div {
  text-align: center;
  font-size: 18px;
  color: #555;
}


.mealCard {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.mealCard:hover {
  transform: translateY(-5px);
}


.MuiDialog-paper {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  padding: 20px;
}

.MuiDialogTitle-root {
  font-size: 24px;
  font-weight: bold;
  color: #00796b;
}

.MuiDialogContent-root {
  color: #555;
  font-size: 16px;
}

.MuiDialogActions-root {
  display: flex;
  justify-content: flex-end;
}


.loading,
.error {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  color: #00796b;
}


@media (max-width: 1500px) {
  .mealtimes {
      grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 1150px) {
  .mealtimes {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .mealtimes {
      grid-template-columns: repeat(1, 1fr);
  }
}
