.forgot-page1 {
  background: linear-gradient(to right, #0b1120 50%, #1f1147 100%);
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;

}

.forgot-page {

  height: 100vh;
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: center; 
  align-items: center;
}

/* Left side */
.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px; 
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  max-width: 400px;
}

.logo h2 {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
}

.left-panel h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 30px 0 20px;
}

.back-btn {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 10px 25px;
  font-style: italic;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  width:300px;
  font-weight:500;
}

.back-btn:hover {
  background-color: white;
  color: black;
}

/* Right Form Box */
.form-box {
  width: 400px;
  height: 400px;
  padding: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

}

.form-box h2 {
  text-align: center;
  font-size: 30px;
  font-weight:500;
  margin-bottom: 20px;
}

.form-box label {
  font-size: 16px;
  display: block;
  margin-bottom: 6px;
  margin-top: 40px;
}

.box {
  position: relative;
  margin-bottom: 20px;
}

.box input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}


.reset-btn {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #4f9ef8; 
  border-radius: 7px;
  display: block;
  margin: auto;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.25s ease;
}

.reset-btn:hover {
  background-color: #3d75ee;
}

.form-box p {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}

.form-box a {
  color: #60a5fa;
  text-decoration: underline;
}
