
.login-page {
  display: flex;
  height: 100vh;
  background-color: #0b1120;
  color: white;
}


.login-page .login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page .login-left .logo img {
  max-width: 400px; 
}

.login-page .login-left h1 {
  margin-top: 20px;
  font-size: 90px;
  font-weight: bold;
}


.login-page .login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-page .login-form {
  width: 90%;
  max-width: 400px;
  background-color: #1a2333; 
  padding: 30px;
  border-radius: 10px; 
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px; 
}

.login-page .login-form h2 {
  margin-bottom: 20px;
}

.login-page .login-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  color:black
}

.login-page .login-form input[type="text"],
.login-page .login-form input[type="password"] {
  border-radius: 5px; 
}

.login-page .login-form input::placeholder {
  color: #aaa; 
}


.login-page .form-options {
  display: flex;
  justify-content: space-between;
}

.login-page .form-options label {
  display: flex;
}

.login-page .form-options a {
  color: #4f9ef8;
}


button[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #4f9ef8; 
  border-radius: 7px;
}

