
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg,#0B1649 0%, rgb(0, 0, 0)100%);
  padding: 20px;
}
 
.login-container  .title{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.login-container  form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-container  input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.login-container  input:focus {
  border-color: #2575fc;
  outline: none;
}

.login-container  button {
  padding: 12px 20px;
  margin-top: 10px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container  button:hover {
  background-color: #1a5fb3;
}

.login-container  .disc {
  color: white;
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px;
  }

  form {
    padding: 20px;
  }

  h2 {
    font-size: 2rem;
  }

  input {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }
}
