/* Styling for disabled days */
.fc-day-disabled {
    background-color:#1e1e2f !important;
    cursor: not-allowed !important;
    border: 1px solid #dcdcdc;
    color: #fffefe;
}

.fc-day-disabled .fc-daygrid-day-number {
    opacity: 0.6;
    color: #ffffff;
}


/* Event styling */
.fc-event {
    background-color: #1890ff !important;
    border: none;
    color: white;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    transition: transform 0.2s ease;
}

.fc-event:hover {
    transform: scale(1.05);
    background-color: #40a9ff !important;
}

/* Calendar header styling */
.fc-toolbar {
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.fc-toolbar h2 {
    font-size: 1.5rem;
    font-weight: bold;

}

.fc-toolbar button {
    background-color: #1890ff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fc-toolbar button:hover {
    background-color: #40a9ff;
}

/* General calendar styling */
.fc {
    font-family: 'Arial', sans-serif;

}

.fc-daygrid-day-number {
    font-size: 0.9rem;
    font-weight: bold;
}

.fc-daygrid-day {
    transition: background-color 0.3s ease;
}

.fc-daygrid-day:hover {
    background-color: #f9f9f960;
}