/* Popup.css */

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24px;
    overflow: hidden;
    padding: 16px;
  }
  
  .popup-backdrop {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
  }
  