.profile-section {
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgb(94, 94, 94);
    max-width: 700px; /* Increased width */
    margin: 2rem auto;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }
  
  .header img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .form-group label {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .form-group .form-input,
  .form-group textarea {
    padding: 0.75rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px rgba(71, 71, 71, 0.247);
    color: #2d3748;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: #3182ce;
    box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.2);
  }
  
  .form-container button {
     background-color: #3182ce;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
    width: 30%;
  }
  
  .form-container button:hover {
    background-color: #2b6cb0;
  }
  
  .loading,
  .error {
    text-align: center;
    color: #ff0000;
    font-size: 1rem;
  }
  
  .error {
    color: #e53e3e;
  }